<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExternalHostname" value="192.168.1.10"/>
    <add key="RelayApiPort" value="17000"/>
    <add key="RelayListenPort" value="17050"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
