<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApiHostUri" value="http://192.168.1.13:8080/"/>
    <add key="RelayApiHost" value="localhost"/>
    <add key="RelayApiPort" value="17000"/>
    <add key="DbConnection" value="SqlExpress"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlExpress"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\MiracleSticks\MiracleSticks.mdf;Integrated Security=SSPI;Database=MiracleSticks;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
